@import "./variables";
@import "./navbar";
@import "./hero";
@import "./services";
@import "./footer";
@import "./about";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: white;
}

body {
  background-color: $bg-color;
}
.container {
  max-width: 1327px;
  margin: 0 auto;
  padding: 0 15px;
}
